<!-- Navbar -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Lazarillo Challenge 🔥 </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://github.com/renatojobal/lazarillo-challenge"
              target="_blank"
              >GitHub</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- Fin navbar -->

<!-- Include the components here 👐 -->
<div class="container">
  <div class="row">
    <div class="card col-6">
      <app-form (changedPlaceEvent)="receivePlace($event)"></app-form>
    </div>
    <div class="card col-6">
      <app-favorites (changedPlaceEvent)="receivePlace($event)"></app-favorites>
    </div>
  </div>
  <div class="row">
    <div class="card col-12">
      <app-details [selectedPlace]="selectedPlace"></app-details>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-map
        [selectedPlace]="selectedPlace"
        [mapCenter]="mapCenter"
      ></app-map>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
  <!-- Copyright -->
</footer>
<!-- Fin footer -->
