<h3>Buscar lugares</h3>
<form [formGroup]="geoPointForm" (ngSubmit)="onSubmit()" novalidate>
  <label>Por coordenadas</label>
  <div class="input-group mb-3">
    <span class="input-group-text">Latitud: </span>
    <input
      type="number"
      class="form-control"
      placeholder=""
      id="latitude"
      formControlName="latitude"
      aria-label="latitude"
      id="latitude"
      ng-control="latitude"
    />
    <span class="input-group-text">Longitud: </span>
    <input
      type="number"
      class="form-control"
      placeholder=""
      id="longitude"
      formControlName="longitude"
      aria-label="longitude"
      id="longitude"
      ng-control="longitude"
    />
  </div>

  <div class="mb-3">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!geoPointForm.valid"
    >
      Buscar
    </button>
  </div>
</form>
<form>
  <label>O busca un lugar popular</label>
  <select
    [ngModel]="selectedPopularPlace"
    (ngModelChange)="onPopularPlaceSelected($event)"
    name="popularPlaceForm"
    class="form-select"
    aria-label="Popular place"
    cahnge="onPopularPlaceSelected(place)"
  >
    <option *ngFor="let place of popularPlace$ | async" [ngValue]="place">
      {{ place.name }}
    </option>
  </select>
</form>
